.places {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}