.places {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

.first {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 4fr;
    grid-template-columns: 1.6fr 0.38fr;
    gap: 0px 0px;
}

.price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    display: flex;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
}

.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.max_guest {
    width: 100px;
    background-image: url("/images/icon_group.png");
    background-repeat: no-repeat;
    font-size: 13px;
    line-height: 110px;
}

.number_rooms {
    width: 100px;
    background-image: url("/images/icon_bed.png");
    background-repeat: no-repeat;
    font-size: 13px;
    line-height: 110px;
}

.number_bathrooms {
    width: 100px;
    background-image: url("/images/icon_bath.png");
    background-repeat: no-repeat;
    font-size: 13px;
    line-height: 110px;
}

.user {
    font-size: 13px;
}

.description {
    font-size: 13px;
    text-align: justify;
}